WEBHOOK_URL=

NCP_OBJECT_STORAGE_ENDPOINT=https://kr.object.ncloudstorage.com
NCP_OBJECT_STORAGE_REGION=kr-standard
NCP_ACCESS_KEY=
NCP_SECRET_KEY=
NCP_BUCKET_NAME=
OBJECT_STORAGE_PREFIX=devcatch/sent

MAX_ARTICLES=5
MAX_ARTICLES_PER_SOURCE=2
ARTICLE_MAX_AGE_DAYS=7
RSS_TIMEOUT_MS=10000
